.container {
  background-color: rgba(12, 12, 12, 0.6);
  box-shadow: 2px 0 20px 10px rgba(0, 0, 0, 0.397);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  color: var(--color-text);
  height: 100vh;
  font-family: 'Helvetica', sans-serif;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
}

.titleContainer {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 5%;
  font-family: 'Helvetica';
}



.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 44px;
  max-width: 450px;
}


.titleCard {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: 700;

}


.description {
  text-align: justify;
  margin-top: 6px;
  font-size: 1.4em;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 1.4em;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.links a {
  display: flex;
  font-size: 2em;
  color: hsl(240, 17%, 76%);
  z-index: 3;
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
  margin-top: 15px ;
}

.links a:hover {
  opacity: 0.5;
  transform: translateY(-3px);
}



@media screen and (max-width: 930px) {

  .titleContainer {
    font-size: 24px;
    margin-bottom: 15%;
  }
   
  .container {
    font-size: 57%;
  }

  .card {
    width: 350px;
  }
}